.footer {
	border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
	background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7));
}

.inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: var(--mantine-spacing-sm);
	padding-bottom: var(--mantine-spacing-sm);

	@media (max-width: $mantine-breakpoint-md) {
		flex-direction: column;
	}
}

.links {
	width: fit-content;

	@media (max-width: $mantine-breakpoint-md) {
		margin: 0 auto;
		width: 100%;
	}
}

.language {
	@media (max-width: $mantine-breakpoint-md) {
		width: 100%;
	}
}

.copyright1 {
	@media (max-width: $mantine-breakpoint-md) {
		display: none;
	}
}
.copyright2 {
	display: none;
	@media (max-width: $mantine-breakpoint-md) {
		display: inherit;
		margin-top: var(--mantine-spacing-sm);
		width: 100%;
		text-align: center;
		font-size: x-small !important;
	}
}
