.control {
	background-color: transparent !important;
	color: var(--mantine-color-white) !important;
	opacity: 1;
}

.indicator {
	z-index: 42;
	width: rem(1.5vw);
	height: rem(4px);
	transition: all 150ms ease;
	background: var(--mantine-color-white) !important;

	&[data-active] {
		width: rem(4vw);
	}
}
