.root {
	z-index: 99;
	background: var(--mantine-color-body);
	transition: all 0.2s linear !important;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	&[data-transparent='true'] {
		background: linear-gradient(360deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.5) 100%);

		@media (max-width: $mantine-breakpoint-md) {
			background: var(--mantine-color-body);
		}
	}

	&[data-scroll-full='true'] {
		background: var(--mantine-color-body);
		box-shadow: var(--mantine-shadow-md);
	}
}

.dropdown {
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	z-index: 88;
	border: none;
	border-radius: 0;
	overflow: hidden;
	box-shadow: var(--mantine-shadow-md);
	border-bottom: 1px solid var(--mantine-color-default-border);
	border-top: 1px solid var(--mantine-color-default-border);

	@media (min-width: $mantine-breakpoint-md) {
		display: none;
	}
}

.header {
	display: flex;
	align-items: center;
	margin: auto;
	padding-left: 24px;
	padding-right: 24px;
	justify-content: space-between;
	height: 100%;
}

.logo {
	font-family: var(--font-minecraft);
	font-size: 20px;
	position: relative;
	top: 2px;
	cursor: pointer;
	user-select: none;
	img {
		position: relative;
		top: -2px;
	}
}

.links {
	@media (max-width: $mantine-breakpoint-md) {
		display: none;
	}
}

.burger {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (min-width: $mantine-breakpoint-md) {
		display: none;
	}
}

.linkIcon {
	transition: all 0.2s ease-in-out;
	@media (min-width: $mantine-breakpoint-md) {
		border-radius: var(--mantine-radius-sm);
		&:hover {
			background-color: rgba(0, 0, 0, 0.4);
			color: light-dark(#000, var(--mantine-color-dark-0));
		}
	}

	@media (max-width: $mantine-breakpoint-md) {
		&:hover {
			background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
			color: light-dark(#000, var(--mantine-color-dark-0));
		}
	}
}

.link {
	font-weight: 400;
	@media (min-width: $mantine-breakpoint-md) {
		border-radius: var(--mantine-radius-sm);
		display: block;
		line-height: 1;
		padding: 8px 12px;
		cursor: pointer;
		text-decoration: none;
		color: light-dark(#666, var(--mantine-color-dark-0));

		&[data-scroll-full='true'] {
			font-size: var(--mantine-font-size-sm);
		}

		font-size: var(--mantine-font-size-md);
		transition: all 0.2s ease-in-out;
		&:hover {
			background-color: rgba(0, 0, 0, 0.4);
			color: light-dark(#000, var(--mantine-color-dark-0));
		}
	}

	@media (max-width: $mantine-breakpoint-md) {
		border-radius: 0;
		display: block;
		line-height: 1;
		padding: var(--mantine-spacing-md) 28px;
		cursor: pointer;
		text-decoration: none;
		color: light-dark(#666, var(--mantine-color-dark-0));
		font-size: var(--mantine-font-size-md);
		transition: all 0.2s ease-in-out;
		&:hover {
			background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
			color: light-dark(#000, var(--mantine-color-dark-0));
		}
	}
}

.link:hover {
	text-decoration: none;
}

.userMenu {
	border: none !important;
	@media (max-width: $mantine-breakpoint-sm) {
		display: none;
	}

	&[data-useractive] {
		/* &; &:hover: { */
		background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
	}
}

.user {
	color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
	padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
	border-radius: var(--mantine-radius-sm);
	margin-left: var(--mantine-spacing-xs);
	transition: background-color 100ms ease;

	@media (min-width: $mantine-breakpoint-md) {
		border-radius: var(--mantine-radius-sm);
		&:hover {
			background-color: rgba(0, 0, 0, 0.4);
			color: light-dark(#000, var(--mantine-color-dark-0));
		}
	}
	@media (max-width: $mantine-breakpoint-md) {
		border-radius: 0;
		padding: var(--mantine-spacing-md);
		margin: 0;
		width: 100%;
		&:hover {
			background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
			color: light-dark(#000, var(--mantine-color-dark-0));
		}
	}
}
