@font-face {
	font-family: 'Plus Jakarta Display Bold';
	src: url('https://tokotype.github.io/plusjakarta-sans/fonts/PlusJakartaDisplay-Bold.woff') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: 'Minecraft';
	src: url('../../public/fonts/Minecraft.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 100 900;
	font-display: optional;
	src: url('../../public/fonts/Inter.var.latin.woff2') format('woff2');
	unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd;
	font-display: swap
}

html,
body,
#__next {
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	width: 100%;
	height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.canvas {
	background: #000;
}

.fc-dimmed {
	color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}
