:root {
	--mantine-shadow-block: 10px 10px 0px 4px rgba(0, 0, 0, 0.45);
	--map-color-filter: invert(77%) sepia(8%) saturate(271%) hue-rotate(169deg) brightness(93%)
		contrast(90%);
}

html,
body,
#__next {
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
	font-family:
		var(--font-inter),
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		'Roboto',
		'Oxygen',
		'Ubuntu',
		'Cantarell',
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	width: 100%;
	height: 100%;
}

iframe {
	border: none;
}

a {
	color: var(--mantine-color-anchor);
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family:
		var(--font-inter),
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		'Roboto',
		'Oxygen',
		'Ubuntu',
		'Cantarell',
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
}

.canvas {
	background: #000;
}

.fc-dimmed {
	color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.hover-border {
	:hover {
		border: solid 1px var(--mantine-color-primary);
	}
}

/* Map Styles */

.mapboxgl-popup-content {
	background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
	border-radius: var(--mantine-radius-xs);
	box-shadow: var(--mantine-shadow-md);
	text-align: center;
	font-size: 14px;
	font-family: 'Inter';
}
.mapboxgl-popup-tip {
	border-top-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
}

.mapboxgl-ctrl-icon :not(.mapboxgl-style-switcher) {
	background: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7)) !important;
	border-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7)) !important;
	box-shadow: var(--mantine-shadow-md);
}

.mapboxgl-ctrl-group {
	border-radius: var(--mantine-radius-xs);
	background: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7)) !important;
}

.mapboxgl-ctrl-top-right {
	margin-top: 60px;
}

.mapboxgl-ctrl-icon {
	filter: var(--map-color-filter) !important;
}

.mapboxgl-ctrl-group button + button {
	border-top: solid 1px light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5)) !important;
}

.mapboxgl-style-list {
	button {
		color: var(--mantine-text-color) !important;
	}
	border-radius: var(--mantine-radius-xs);
}
.mapboxgl-style-switcher {
	border-radius: var(--mantine-radius-xs) !important;
	background-image: url('/icons/layers-subtract.svg') !important;
}

.mapboxgl-ctrl-geolocate span {
	background-image: url('/icons/current-location.svg') !important;
}

.mapboxgl-ctrl-zoom-in span {
	background-image: url('/icons/plus.svg') !important;
}

.mapboxgl-ctrl-zoom-out span {
	background-image: url('/icons/minus.svg') !important;
}
.mapboxgl-ctrl-compass span {
	cursor: pointer;
	background-image: url('/icons/map-north.svg') !important;
}

.mapbox-gl-draw_polygon {
	filter: var(--map-color-filter) !important;
	background-image: url('/icons/polygon.svg') !important;
}
