html,
body,
#__next {
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
	font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	width: 100%;
	height: 100%;
}

iframe {
	border: none;
}

a {
	color: var(--mantine-color-anchor);
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.canvas {
	background: #000;
}

.fc-dimmed {
	color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.hover-border {
	:hover {
		border: solid 1px var(--mantine-color-primary);
	}
}

/* Map Styles */

.mapboxgl-popup-content {
	background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
	border-radius: var(--mantine-radius-md);
	box-shadow: var(--mantine-shadow-md);
	text-align: center;
	font-size: 14px;
	font-family: 'Inter';
	/* color:light-dark(var(--mantine-color-white), var(--mantine-color-dark-7)); */
}
.mapboxgl-popup-tip {
	border-top-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
}

.mapboxgl-ctrl-icon {
	background: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7)) !important;
	border-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7)) !important;
	box-shadow: var(--mantine-shadow-md);
	border-radius: none;
}
.mapboxgl-ctrl-icon:hover {
	background: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6)) !important;
}

.mapboxgl-ctrl-group {
	border-radius: var(--mantine-radius-md);
	background: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7)) !important;
}
.mapboxgl-ctrl-group button + button {
	border-top: solid 1px light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4)) !important;
}
